// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item {
  left: 0;
  right: 0;
}
.item-divider {
  color: #555;
  font-weight: normal;
  font-size: 14px;
}
.item-gap {
  border: 0 none;
  min-height: 0px;
}
.item-loading {
  text-align: center;
  color: #aaa;
}
.saverMode {
  .item-avatar {
    padding-left: 14px;
    &.item-complex {
      padding-left: 0;
    }
    > img {
      &:first-child {
        -webkit-transform: translate3d(-2000px, -2000px, 0px);
      }
    }
    .item-content {
      padding-left: 14px;
      padding-right: 16px;
      > img {
        &:first-child {
          -webkit-transform: translate3d(-2000px, -2000px, 0px);
        }
      }
    }
  }
}
