<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngIf="user" menuClose (click)="gotoUserPage(user.loginname)">
        <ion-icon name="person" item-left></ion-icon>
        {{user.loginname}}
      </ion-item>
      <ion-item *ngIf="user" menuClose (click)="gotoMessagePage()">
        <ion-icon name="mail" item-left></ion-icon>
        我的消息
      </ion-item>
      <ion-item (click)="login()" *ngIf="user == null">
        登录
        <i class="icon ion-looping" ng-if="processing"></i>
      </ion-item>

      <ion-item-divider color="light">
        板块
      </ion-item-divider>
      <ion-item *ngFor="let tab of tabs" (click)="openTab(tab)" menuClose>
        {{tab.label}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
